{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - About Us{% endblock %}

{% block page_content %}
<div id="aboutUs" style="font-family: 'Conv_Univers45Light'; border-bottom: 1px solid #000000; width:840px; letter-spacing:2px; font-size:18px; margin-bottom:45px; margin-left:120px;text-align:center;padding-bottom:20px;text-transform:uppercase;">
	Nifty Thrifty: <b>About Us</b>
</div>

<div style="font-family: 'Conv_Univers45Light'; color:#000000;letter-spacing:1px; width:840px;margin-left:120px;text-align:center;margin-bottom:40px;font-size:20px;color:#000000;">
	NiftyThrifty was created by vintage lovers Topper Luciani and Mark Kingdon as the ultimate online vintage and pre-owned shopping destination.
</div>


<div style="font-family: 'Playfair Display', serif; color:#000000;letter-spacing:1px;line-height:18px; width:840px;margin-left:120px;text-align:center;margin-bottom:20px;font-size:14px;color:#000000;">
	<span style="font-family: 'Thristy-Light';font-size:36px;line-height:20px;">H</span>ere, vintage aficionados can find everything from classic staples to one-off designer finds. Each item is hand-selected by our team of experts, laundered with love, measured to a T, photographed, curated into a stellar collection and then delivered to your doorstep in a wonderful, hand-wrapped package.
</div>

<div style="font-family: 'Thristy-Light';color:#ff7070;width:840px;text-align:center;font-size:24px;height:auto;margin-bottom:15px;margin-left:120px;">
	Our goal is to bring you expertly curated fashion that you can feel good about.
</div>

<div style="font-family: 'Playfair Display', serif; color:#000000;letter-spacing:1px;line-height:18px; width:840px;margin-left:120px;text-align:justify;margin-bottom:20px;font-size:14px;color:#000000;">
	<div style="width:470px;height:500px;float:left;margin-right:25px;">
		<div id="slideshow-container" style="width:470px;height:313px;">
		<img src="/images/images/about1.jpg" align="left" />
		<img src="/images/images/about2.jpg" align="left" />
		<img src="/images/images/about3.jpg" align="left" />
		<img src="/images/images/about4.jpg" align="left" />
		</div>
		<span style="font-family: 'Conv_Univers45Light'; font-size:12px; color:#ff7070;">CHECK OUT R29'S OFFICE TOUR!</span>
	</div>
	<div style="width:345px;height:500px;float:left;">
		<span style="font-family: 'Thristy-Light';font-size:36px;line-height:20px;">N</span>iftyThrifty is making it's contribution toward Mother Earth. How? Through sourcing locally and eliminating the need for factory production and overseas shipping, we're able to drastically reduce our contribution to environmental detriments including pollution and energy consumption. We're focused on providing environmentally sustainable fashion by recycling the best vintage and pre-owned styles out there. Everyone knows that it requires 1,200 gallons of water just to grow the cotton needed to make a single pair of jeans. When you buy a pair from Nifty Thrifty, you save this water and help protect Earth's most precious commodity. 
		<br/><br/>
		<span style="font-family: 'Thristy-Light';font-size:21px;">
			We're passionate about vintage and love what we do!
		</span>
	
	</div>

</div>


{% endblock %}
