{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - Careers{% endblock %}

{% block page_content %}
<div id="careers" class="content_page">
          <h1>
					Calling all future Nifties
				</h1>
          <div class="content">
            <div class="jobs"><p>
&nbsp;</p>
<div>
We're having a blast building an amazing company. &nbsp;</div>
<div>
We work in a loft in Williamsburg, Brooklyn at the foot of the bridge within walking distance</div>
<div>
of the Bedford Avenue L train stop.&nbsp;</div>
<div>
&nbsp;</div>
<div>
<div class="first_big_text" style="font-size: 43px;line-height:38px; font-weight:normal">
<div>
our culture is summed up in our name: nifty thrifty. we love what we do and we work hard doing it.</div>
</div>
<div>
&nbsp;</div>
<div>
If you're super smart, easy-going and fun to work with, and you've got great skills in your field,</div>
<div>
we'd love to talk to you about job opportunities at NiftyThrifty.</div>
<div>
&nbsp;</div>
<div>
<div class="job_separator">
&nbsp;</div>
</div>
<div>
&nbsp;</div>
<div>
Please send a cover letter and resume to:</div>
<div class="emails">
<a href="mailto:jobs@niftythrifty.com"> jobs@niftythrifty.com</a></div>
<div>
&nbsp;</div>
</div>
</div>
          </div>
        </div>
        
{% endblock %}
