{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - FAQ{% endblock %}

{% block page_content %}


<div class="content_page">
          <h1></h1>
          <div class="content">
            <div id="faq">
              <div class="top">
                <h1>
									Frequently Asked Questions
								</h1>
                <h4>
									Need help? Here's few frequently asked questions. If you need any more informations, feel free to contact us by writing an e-mail to help@niftythrifty.com.
								</h4>
              </div>
              <div class="list">
                <div class="item left">
                  <h2>About Us,<br>
What is Nifty Thrifty? </h2>
                  <p>Nifty Thrifty is a place where you can buy unique vintage pieces, everyday</p>
                </div>
                <div class="item right">
                  <h2>How are members notified about new collections?</h2>
                  <p>As a member, you'll receive an email announcing each new collection.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>How long is merchandise available? </h2>
                  <p>The collection is accessible for one week, then unsold merchandise is moved to the archive...</p>
                </div>
                <div class="item right">
                  <h2>Do I have to be a member to view collections?</h2>
                  <p>Yes.  If you haven't joined, please do!  You can click here to join.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>Where do your products come from?</h2>
                  <p>We visit all kinds of vintage clothing consolidators and wholesalers, thrift stores, flea markets and estate sales to find special items for our collections.</p>
                </div>
                <div class="item right">
                  <h2>Are they cleaned before they are sent to customers?</h2>
                  <p>Yes, clothing is professionally cleaned unless it is fragile due to age, then it is spot-cleaned.  If that's the case, there will be a note in the product description on the website.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>Shopping and Orders Can I order by phone?</h2>
                  <p>Email us your phone number at help@niftythrifty.com and we'll get right back to you. </p>
                </div>
                <div class="item right">
                  <h2>HOW ARE YOUR PRICES DETERMINED?</h2>
                  <p>We research vintage retail prices for most items in major markets.  We price our merchandise roughly 25% below vintage retail in major markets.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>What are your shipping charges?</h2>
                  <p>Shipping is free on orders over $70.  For orders below $70, the shipping charges are:<br>
1 Item is $7.95 <br>
2 Items is $9.95<br>
3+ Items is $10.95<br>
Expedited shipping is $19.95<br>
There is a $10 surcharge for heavy outerwear.<br>
</p>
                </div>
                <div class="item right">
                  <h2>Do you ship overseas?</h2>
                  <p>We don't normally.  But email us at help@niftythrifty.com and we'll see whether it's possible to make an exception..</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>What payment methods do you accept?</h2>
                  <p>Visa, MasterCard and American Express</p>
                </div>
                <div class="item right">
                  <h2>Can I pay with PayPal?</h2>
                  <p>Not at this time.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>When I put something in my cart, how long does it stay there?</h2>
                  <p>10 minutes.</p>
                </div>
                <div class="item right">
                  <h2>How can I check on the status of my order?</h2>
                  <p>You'll receive an email when your item is shipped with shipment details.  If you have additional questions, contact us at help@niftythrifty.com.  We're here for you!</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>How long does it take to get credits for returns?</h2>
                  <p>Thirty days or less.</p>
                </div>
                <div class="item right">
                  <h2>Whom do I contact to discuss my account?</h2>
                  <p>Contact us at help@niftythrifty.com</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>Is my data secure?</h2>
                  <p>Yes. We've taken all the appropriate precautions to ensure your data is secure.</p>
                </div>
                <div class="item right">
                  <h2>Referrals/Credits Coupons How do referrals work?</h2>
                  <p>For every 5 friends you refer who join Nifty Thrifty, you get a $5 credit.  So, if you refer 10 friends, you get a $10 credit!  25 friends, you get a $25 credit. 50 friends you will get $50. Then you get an additional $25 when your friend's first order ships.  If all your friends join and make a purchase the credits will really add up!</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>What are referral credits?</h2>
                  <p>Referral credits are credits we place in your account as an incentive to refer your friends to NiftyThrifty.com.  When you make a purchase and check out, your credits will be automatically applied to your purchase and the amount you pay will be reduced. For every 5 friends you refer who join Nifty Thrifty, you get a $5 credit.  So, if you refer 15 friends, you get a $15 credit!  Then you get an additional $25 when your friend's first order ships.  If all your friends join and make a purchase the credits will really add up!</p>
                </div>
                <div class="item right">
                  <h2>How long do referral credits last?</h2>
                  <p>6 months.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>How do I use referral credits?</h2>
                  <p>Referral credits are automatically applied to your final charge at checkout.  You don't have to do anything to redeem them (except buy something!).</p>
                </div>
                <div class="item right">
                  <h2>How do I use coupons?</h2>
                  <p>There is a box on the checkout page where you insert a coupon number.  That will enable you to redeem your coupon during checkout.</p>
                </div>
                <div class="clear"></div>
                <div class="item left">
                  <h2>Customer Service,<br>
How do I contact you?</h2>
                  <p>help@niftythrifty.com</p>
                </div>
                <div class="item right">
                  <h2>What hours are you open?</h2>
                  <p>Monday to Friday from 9AM to 6PM Eastern Time.</p>
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        
        
{% endblock %}
