{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - Press{% endblock %}

{% block page_content %}


<div id="press" class="content_page">
          <h1>Nifty press</h1>
          <div class="content">
            <div class="content press">
              <div class="txt">
							Shopping in thrift stores and vintage boutiques takes patience, luck and a great eye.  Our aim at NiftyThrifty is to do the hard work for you.  We search high and low for that unique piece so you don't have to.  We bring our members rare finds, everyday.
						</div>
              <div class="txt">
							Here's what others are saying about NiftyThrifty...
						</div>
              <div class="publications">
                <div class="publication">
                  <div class="logo">
                    <img src="/images/press_publication/elle_bbdab74c76_0.jpg" alt="Alexandra Richards Curates Vintage " title="Alexandra Richards Curates Vintage ">
                  </div>
                  <h2>
                    <a href="http://www.elle.com/news/fashion-style/alexandra-richards-sells-vintage-clothes" title="Alexandra Richards Curates Vintage " target="_blank">Alexandra Richards Curates Vintage </a>
                  </h2>
                  <div class="date">Friday 15 March 2013</div>
                  <div class="pub_content">Friday, March 15th 2013
For those with a case of "nothing to wear," here's a new solution: Have Alexandra Richards pick an outfit for you.
</div>
                  <div class="more">
                    <a target="_blank" href="http://www.elle.com/news/fashion-style/alexandra-richards-sells-vintage-clothes" title="View more">View more</a>
                    <span class="display_none">Friday, March 15th 2013
For those with a case of "nothing to wear," here's a new solution: Have Alexandra Richards pick an outfit for you.
</span>
                  </div>
                </div>
                <div class="publication right">
                  <div class="logo">
                    <img src="/images/press_publication/time_6632f27b97_0.jpg" alt="Premium Aged" title="Premium Aged">
                  </div>
                  <h2>
                    <a href="http://www.time.com/time/magazine/article/0,9171,2136871,00.html" title="Premium Aged" target="_blank">Premium Aged</a>
                  </h2>
                  <div class="date">Monday 04 March 2013</div>
                  <div class="pub_content">If the women of New York City's Madison Avenue or Paris' avenue Montaigne ever create a temple to their fashion gods, they might stock it with clothing from e-commerce site Byronesque. Founder Gill Linton's...

</div>
                  <div class="more">
                    <a target="_blank" href="http://www.time.com/time/magazine/article/0,9171,2136871,00.html" title="View more">View more</a>
                    <span class="display_none">If the women of New York City's Madison Avenue or Paris' avenue Montaigne ever create a temple to their fashion gods, they might stock it with clothing from e-commerce site Byronesque. Founder Gill Linton's...

</span>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="publication">
                  <div class="logo">
                    <img src="/images/press_publication/bof_7615bf0209_0.jpg" alt="Business of Fashion" title="Business of Fashion">
                  </div>
                  <h2>
                    <a href="http://www.businessoffashion.com/tag/nifty-thrifty" title="Business of Fashion" target="_blank">Business of Fashion</a>
                  </h2>
                  <div class="date">Monday 21 January 2013</div>
                  <div class="pub_content">Monday, January 21, 2013
For nearly 20 years, eBay has been the dominant player in the market for vintage clothing and accessories.</div>
                  <div class="more">
                    <a target="_blank" href="http://www.businessoffashion.com/tag/nifty-thrifty" title="View more">View more</a>
                    <span class="display_none">Monday, January 21, 2013
For nearly 20 years, eBay has been the dominant player in the market for vintage clothing and accessories.</span>
                  </div>
                </div>
                <div class="publication right">
                  <div class="logo">
                    <img src="/images/press_publication/dailycandy_2d3b960216_0.jpg" alt="Daily Candy" title="Daily Candy">
                  </div>
                  <h2>
                    <a href="http://www.dailycandy.com/new-york/article/137766/NiftyThrifty-Online-Vintage-Clothing" title="Daily Candy" target="_blank">Daily Candy</a>
                  </h2>
                  <div class="date">Monday 22 October 2012</div>
                  <div class="pub_content">Us: "Love. your. coat. Who makes it? It's cool that we copy you, right? We need one badly." Smug person: "It's vintage. From Sweden...</div>
                  <div class="more">
                    <a target="_blank" href="http://www.dailycandy.com/new-york/article/137766/NiftyThrifty-Online-Vintage-Clothing" title="View more">View more</a>
                    <span class="display_none">Us: "Love. your. coat. Who makes it? It's cool that we copy you, right? We need one badly." Smug person: "It's vintage. From Sweden...</span>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="publication">
                  <div class="logo">
                    <img src="/images/press_publication/elle_29494f20a8_0.jpg" alt="Elle" title="Elle">
                  </div>
                  <h2>
                    <a href="http://www.elle.com/news/fashion-style/lulu-guinness-launches-new-line-alexa-chungs-new-book" title="Elle" target="_blank">Elle</a>
                  </h2>
                  <div class="date">Friday 05 October 2012</div>
                  <div class="pub_content">A new membership-based Brooklyn website Nifty Thrifty just launched, and it will feature brands like Gucci, Prada, and Marc Jacobs...</div>
                  <div class="more">
                    <a target="_blank" href="http://www.elle.com/news/fashion-style/lulu-guinness-launches-new-line-alexa-chungs-new-book" title="View more">View more</a>
                    <span class="display_none">A new membership-based Brooklyn website Nifty Thrifty just launched, and it will feature brands like Gucci, Prada, and Marc Jacobs...</span>
                  </div>
                </div>
                <div class="publication right">
                  <div class="logo">
                    <img src="/images/press_publication/refinery29_logo_73eb3dd676_0.jpg" alt="Refinery29" title="Refinery29">
                  </div>
                  <h2>
                    <a href="http://www.refinery29.com/nifty-thrifty" title="Refinery29" target="_blank">Refinery29</a>
                  </h2>
                  <div class="date">Tuesday 02 October 2012</div>
                  <div class="pub_content">This New E-Commerce Lets You Shop Vintage (In PJs), Plus 30% Off!.
One of the roughest parts about thrift or vintage shopping is that it often takes heaps of endurance, sifting through racks and racks of "what is that?" until you...</div>
                  <div class="more">
                    <a target="_blank" href="http://www.refinery29.com/nifty-thrifty" title="View more">View more</a>
                    <span class="display_none">This New E-Commerce Lets You Shop Vintage (In PJs), Plus 30% Off!.
One of the roughest parts about thrift or vintage shopping is that it often takes heaps of endurance, sifting through racks and racks of "what is that?" until you...</span>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="publication">
                  <div class="logo">
                    <img src="/images/press_publication/examiner_logo_2c75fd8890_0.jpg" alt="Examiner" title="Examiner">
                  </div>
                  <h2>
                    <a href="http://www.examiner.com/article/nifty-thrifty-website-up-today" title="Examiner" target="_blank">Examiner</a>
                  </h2>
                  <div class="date">Tuesday 02 October 2012</div>
                  <div class="pub_content">Today is the day you can log on to Nifty Thrifty's website www.niftythrifty.com. For every 5 friends you join Nifty Thrify, you will get a $10 credit. So, if you refer 15...</div>
                  <div class="more">
                    <a target="_blank" href="http://www.examiner.com/article/nifty-thrifty-website-up-today" title="View more">View more</a>
                    <span class="display_none">Today is the day you can log on to Nifty Thrifty's website www.niftythrifty.com. For every 5 friends you join Nifty Thrify, you will get a $10 credit. So, if you refer 15...</span>
                  </div>
                </div>
                <div class="publication right">
                  <div class="logo">
                    <img src="/images/press_publication/sheana_5b440ff397_0.jpg" alt="Shenae Grimes" title="Shenae Grimes">
                  </div>
                  <h2>
                    <a href="http://officialshenaegrimes.com/my-nifty-thrifty-treat-for-you-10-2012" title="Shenae Grimes" target="_blank">Shenae Grimes</a>
                  </h2>
                  <div class="date">Tuesday 02 October 2012</div>
                  <div class="pub_content">I wanted to let you all know about this awesome vintage clothing website that just launched today called Nifty Thrifty! I love mixing in vintage...</div>
                  <div class="more">
                    <a target="_blank" href="http://officialshenaegrimes.com/my-nifty-thrifty-treat-for-you-10-2012" title="View more">View more</a>
                    <span class="display_none">I wanted to let you all know about this awesome vintage clothing website that just launched today called Nifty Thrifty! I love mixing in vintage...</span>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="publication">
                  <div class="logo">
                    <img src="/images/press_publication/bazaar_585380f207_0.jpg" alt="Harpers Bazaar" title="Harpers Bazaar">
                  </div>
                  <h2>
                    <a href="http://www.harpersbazaar.com/bazaar-blog/while-you-were-sleeping-100212" title="Harpers Bazaar" target="_blank">Harpers Bazaar</a>
                  </h2>
                  <div class="date">Tuesday 02 October 2012</div>
                  <div class="pub_content">Nifty Thrify, a new shopping site for pre-owned high-end vintage clothing, is launching today. The members-only website will hold themed sales twice a wee
...

</div>
                  <div class="more">
                    <a target="_blank" href="http://www.harpersbazaar.com/bazaar-blog/while-you-were-sleeping-100212" title="View more">View more</a>
                    <span class="display_none">Nifty Thrify, a new shopping site for pre-owned high-end vintage clothing, is launching today. The members-only website will hold themed sales twice a wee
...

</span>
                  </div>
                </div>
                <div class="publication right">
                  <div class="logo">
                    <img src="/images/press_publication/techcrunch_logo_11a72f7956_0.jpg" alt="Techcrunch" title="Techcrunch">
                  </div>
                  <h2>
                    <a href="http://techcrunch.com/2012/08/24/niftythrifty-raises-2-million-from-tribeca-venture-partners-others/" title="Techcrunch" target="_blank">Techcrunch</a>
                  </h2>
                  <div class="date">Friday 24 August 2012</div>
                  <div class="pub_content">NiftyThrifty, an online, pre-owned, vintage clothing store, announced today that it has raised $2 million from Tribeca Venture Partners, Signal Ventures, Greycroft, idealab and Howard Morgan...</div>
                  <div class="more">
                    <a target="_blank" href="http://techcrunch.com/2012/08/24/niftythrifty-raises-2-million-from-tribeca-venture-partners-others/" title="View more">View more</a>
                    <span class="display_none">NiftyThrifty, an online, pre-owned, vintage clothing store, announced today that it has raised $2 million from Tribeca Venture Partners, Signal Ventures, Greycroft, idealab and Howard Morgan...</span>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>


{% endblock %}
