{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty - Shipping And Returns{% endblock %}

{% block page_content %}

<div id="shippingAndReturns" class="content_page">
          <h1>Shipping and returns</h1>
          <div class="content">
            <div class="shippingAndReturn"><div class="subtitle">
<div class="subtitle">
Here's a few frequently asked questions about our shipping and return policies. If you need any more information, contact us by email at help@niftythrifty.com.</div>
<div class="collumn1">
<div class="box box1">
<h2>
Do you charge<br>
sales tax?&nbsp;</h2>
<div class="boxContent">
We are obliged to collect sales tax in the state of New York. &nbsp;Right now the state of NY is waiving sales tax on apparel items priced below $110. &nbsp;Thank you NY!</div>
</div>
<div class="box box2">
<h2>
What are your<br>
shipping charges?</h2>
<div class="boxContent">
<div>
<div>
For all orders over $70, shipping is free! For orders under $70, NiftyThrifty offers flat rate shipping using UPS. We give you a standard ground option and an expedited option. &nbsp;There is a surcharge for heavy or bulky items.&nbsp;</div>
<div>
Our standard shipping charges are as follows:</div>
</div>
<div>
* 1 Item is $7.95</div>
<div>
* 2 Items is $9.95</div>
<div>
* 3+ Items is $10.95</div>
<div>
There is a $10 surcharge for heavy or bulky items.</div>
<div>
Expedited shipping is $19.95. &nbsp;</div>
<div>
&nbsp;</div>
</div>
</div>
<div class="box box5">
<h2>
Do you take returns?</h2>
<div class="boxContent">
If you're not completely satisfied with your Nifty purchase, you can return the item within 30 days for a full refund.  We pick up the return shipping fee! The only exceptions are special clearance sales where we do not accept returns and we make this clear when we promote the clearance.  For returnable items, just follow these steps:
</div>
<div>
&nbsp;</div>
<div>
1. MARK THE RECEIPT - Mark the items you're returning on the invoice that came with your order, and include in your return shipment.&nbsp;</div>
<div>
&nbsp;</div>
<div>
2. MAIL THE ITEM BACK TO US - Returns are free! As a courtesy, we've also included a return shipping label with your order. Simply pack the items you're returning, and use this label if you'd like your return to be free of charge. Drop off the item at any UPS pick up location, or schedule a pick up by calling 1-800-742-5877. &nbsp;You can also ship anything to us using your own carrier, but please note: we cannot reimburse you for those charges. For free returns, you MUST use the return shipping label provided by NiftyThrifty.</div>
<div>
&nbsp;</div>
<div>
3. REFUND - Refunds are made to the same method of payment as your order, and are processed within 10 days from the arrival of your return package. An email from "Authroize.Net" will be sent to you once return transaction has been processed. When this appears on your credit card statement will depend on your bank.&nbsp;</div>
<div>
&nbsp;</div>
<div>
*EXCHANGES - Due to the one-of-a-kind nature of our merchandise, we cannot offer exchanges.&nbsp;</div>
</div>
</div>
<div class="collumn2">
<div class="box box3">
<h2>
Can I order by<br>
phone? &nbsp;</h2>
<div class="boxContent">
Of course, you can order by phone: Email us your phone number at help@NiftyThrifty.com and we'll get right back to you.</div>
</div>
<div class="box box4">
<h2>
How long does it<br>
take to receive my<br>
purchase? &nbsp;</h2>
<div class="boxContent">
<div>
If you select expedited shipping, orders placed before 1pm Eastern will go out on the same day.&nbsp;</div>
<div>
Otherwise, our goal is to process and ship your order within 2 business days of receipt.&nbsp;</div>
<div>
You'll receive a tracking order when your purchase is shipped.</div>
</div>
</div>
</div>
</div>
<div class="clear"></div></div>
          </div>
        </div>


{% endblock %}
