<script type="text/javascript" src=" {{ asset('/bundles/niftythriftyshop/js/UserLogin.js') }}"></script>
			<div style="margin-bottom;5px;">
			</div>
			<div style="width:150px;margin-top:8px;padding:2px;border:1px solid #efefef;font-size:11px;float:right;">
				<a href="#" id="login_fake">LOGIN</a> / 
				<a href="#" id="register_fake">REGISTER</a>
			</div>
