			<div style="margin-bottom;5px;">
				Hi <span style="font-style:italic;color:#47baa6;font-size:15px;">{{ user.getUserFirstName }}<br></span>
			</div>
			<div style="width:150px;margin-top:8px;padding:2px;border:1px solid #efefef;font-size:11px;float:right;">
				<a href="{{ path('user_account') }}">YOUR ACCOUNT</a> / <a href="{{ path('logout') }}" title="Log out" class="logout">LOG OUT</a>
			</div>
