{% extends 'NiftyThriftyShopBundle::layout.html.twig' %}

{% block page_heading %}Nifty Thrifty Registration{% endblock %}

{% block page_content %}
    <h1>Register</h1>
    {{ form(editForm) }}
{% endblock %}
